body {
font-family: Arial, Helvetica, sans-serif;
margin-left: 15%;
margin-right: 15%;
}

a:link {
  text-decoration: none;
  color: #2368cf;
}

a:visited {
  text-decoration: none;
  color: #2368cf;
}

p {
text-align:left;
font-size: 18;
color: #4e5259;
margin-top: 1%;
}

ul {
text-align:left;
font-size: 18;
color: #4e5259;
}

table {
  width: 100%;
  margin-top: 2%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border-radius: 8px;
  color: #2368cf;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.accordion {
  background-color: #f2f2f2;
  color: #4e5259;
  font-size: 18px;
  text-align: left;
  padding: 2%;
  cursor: pointer;
  margin-top: 2%;
  border-radius: 8px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:after {
  content: '\002B';
  color: #4e5259;
  background-color: #f2f2f2
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  font-weight: bold;
}

.panel {
  padding: 1%;
  background-color: white;
  color: #4e5259;
  display: none;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.header {
text-align: left;
font-size: 18px;
color: #9299a6;
letter-spacing: 6px;
margin-top: 1%;
}

.column {
float: left;
text-align: left;
padding: 2%;
color: #4e5259;
overflow: auto;
height: 360px;
}

.column.side {
  width: 35%;
  margin-top: 1%;
  border-radius: 8%;
  background-color: rgba(203, 213, 232, 0.25);
  font-size: 18px;
  text-align: left;
}

.column.middle {
  width: 65%;
  margin-top: 1%;
  font-size: 18px;
  text-align: left;
}

.row:after {
content: "";
display: table;
clear: both;
}

.footer {
margin-top: 2%;
font-size: 18px
}

@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
