body {
font-family: Arial, Helvetica, sans-serif;
margin-left: 20%;
margin-right: 10%;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

p {
text-align:left;
font-size: 18;
color: #4e5259;
margin-top: 1%;
}

ul {
text-align:left;
font-size: 18;
color: #4e5259;
}

.header {
text-align: left;
font-size: 16px;
color: #9299a6;
letter-spacing: 6px;
margin-top: 1%;
}

.column {
float: left;
text-align: left;
padding: 2%;
color: #4e5259;
overflow: scroll;
height: 360px;
}

.column.side {
  width: 25%;
  margin-top: 1%;
  border-radius: 8%;
  background-color:#cbd5e8;
  font-size: 18px;
  text-align: left;
}

.column.middle {
  width: 45%;
  font-size: 18px;
  text-align: left;
}

.row:after {
content: "";
display: table;
clear: both;
}

@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
